hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
}

.surroundingImage {
width: 280px;
height: 280px;
margin-right: 20px;
float: left;
}

.opacity {
    opacity: 0.8;
    color:grey;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opacity:hover {
    opacity: 1.0;
    color:black;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
