.opacity {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.delete-button{
  border: 0px currentColor; border-image: none; width: 85px; height: 15px; padding-bottom: 0px;
  margin-left: 250px;
  color:grey;
  background: transparent;
}


.loader-position{
  padding-bottom: 100%; margin-top: 260px; margin-right: 55%; margin-left: 45%;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
