<form  style="margin: 220px 200px 4px; top: 2px; padding-top: 0px;
 padding-bottom: 70px; padding-left: 1px; border-top-width: 0px; border-bottom-width: 2px;">

<div class="form-group">
  <label for="usr">Name of album:</label>
  <input [(ngModel)]="newPhotoAlbum.name" type="text" class="form-control" id="usr">
</div>


<div class="form-group">
  <label for="comment">Write a description about album:</label>
  <textarea [(ngModel)]="newPhotoAlbum.description" class="form-control" rows="5" id="comment"></textarea>
</div>

<div class="form-group">
<label for="usr">Category:</label>
<input  [(ngModel)]="newPhotoAlbum.category" type="text">
</div>

<div class="form-group">
  <label for="usr">Cover image (Optional):</label> <input type="file" id="exampleInputFile" (change)="attachFile($event)">
  <br>
  <img src="{{imageSrc}}" height="120" weight="240" alt="Image preview...">
</div>

<div>
  <p *ngIf="status==false" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
   {{message}} </p>
</div>

<div class="form-group">
  <button type="button" (click)="onGenerateAlbum()" [ngClass]="['btn btn-info', 'glyphicon glyphicon-save']" style="width: 300px; height: 40px;">Generate new album!</button>
</div>

</form>
