<form  style="margin: 227.7px 10% 100px; border-radius: 2%; border: 1px currentColor; border-image: none; top: 0px; width: 1500px; height: 590px; padding-top: 20px; padding-bottom: 2px; vertical-align: middle; position: fixed; align-items: center; background-color: lightblue;" class="container">

<div class="form-group">
  <label for="usr">Name of album:</label>
  <input [(ngModel)]="newPhotoAlbum.name" type="text" class="form-control" id="usr" placeholder="Album name">
</div>


<div class="form-group">
  <label for="comment">Write a description about album:</label>
  <textarea [(ngModel)]="newPhotoAlbum.description" class="form-control" rows="5" id="comment" placeholder="Some informations about album ; photo type:home,nature,abstract ; places: Cluj-Napoca ; friends  )"></textarea>
</div>

<div class="form-group">
<label for="usr">Category:</label>
<input  [(ngModel)]="newPhotoAlbum.category" type="text" placeholder="category(ex:home)">
</div>

<div class="form-group">
  <label for="usr">Cover image (Optional):</label> <input type="file" id="exampleInputFile" (change)="attachFile($event)">
  <br>
  <img src="{{imageSrc}}" height="200" weight="250" alt="Image preview...">
</div>

<div>
  <p *ngIf="status==false" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
   {{message}} </p>
</div>

<div class="form-group">
  <button type="button" (click)="onGenerateAlbum()" [ngClass]="['btn btn-info', 'glyphicon glyphicon-save']" style="width: 300px; height: 40px;">Generate new album!</button>
</div>

</form>
